* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: whitesmoke;
}

.todoApp {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #0D141E;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: white;
  font-size: 30px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todoForm {
  margin-bottom: 32px;
}

.todoInput {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #149fff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todoInput::placeholder {
  color: #ffffff83;
}

.todoButton {
  color: white;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg,
      #149fff 0%,
      #117aff 100%);  
  text-transform: capitalize;
}

.todoInput.edit {
  /* border: 2px solid #F23D4C; */
  border: 2px solid #FF0000;
}

.todoButton.edit {
  background: #FF0000;
  /* background: #F23D4C; */
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg,
      #149fff 0%,
      #117aff 100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.deleteIcon {
  margin-right: 5px;
  color: #fff;
}

.deleteIcon:hover {
  color: #dbdbdb;
  transition: .3s;
}

.editIcon {
  color: #fff;
}

.editIcon:hover {
  color: #dbdbdb;
  transition: .3s;
}

@media screen and (max-width:415px) {

  body {
    background: #0D141E;
  }
  .todoApp {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;
    background: #0D141E;
    text-align: center;
    margin: 0;
    border-radius: 0px;
    padding-bottom: 32px;
  }

  .todoInput {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #149fff;
    outline: none;
    width: 250px;
    background: transparent;
    color: #fff;
  }
}